/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/obj/Debug/net8.0/apphost.exe
/obj/Debug/net8.0/HeuristicAlgFinalProject.AssemblyInfoInputs.cache
/obj/Debug/net8.0/HeuristicAlgFinalProject.assets.cache
/obj/Debug/net8.0/HeuristicAlgFinalProject.csproj.CoreCompileInputs.cache
/obj/Debug/net8.0/HeuristicAlgFinalProject.csproj.FileListAbsolute.txt
/obj/HeuristicAlgFinalProject.csproj.nuget.dgspec.json
/obj/HeuristicAlgFinalProject.csproj.nuget.g.props
/obj/HeuristicAlgFinalProject.csproj.nuget.g.targets
/bin/Debug/net8.0/HeuristicAlgFinalProject.deps.json
/bin/Debug/net8.0/HeuristicAlgFinalProject.dll
/obj/Debug/net8.0/ref/HeuristicAlgFinalProject.dll
/obj/Debug/net8.0/refint/HeuristicAlgFinalProject.dll
/obj/Debug/net8.0/HeuristicAlgFinalProject.dll
/bin/Debug/net8.0/HeuristicAlgFinalProject.exe
/obj/Debug/net8.0/HeuristicAlgFinalProject.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net8.0/HeuristicAlgFinalProject.genruntimeconfig.cache
/obj/Debug/net8.0/HeuristicAlgFinalProject.GlobalUsings.g.cs
/bin/Debug/net8.0/HeuristicAlgFinalProject.pdb
/obj/Debug/net8.0/HeuristicAlgFinalProject.pdb
/bin/Debug/net8.0/HeuristicAlgFinalProject.runtimeconfig.json
/bin/Debug/net8.0/knapsack_param_results.csv
/obj/project.assets.json
/obj/project.nuget.cache
/obj/project.packagespec.json
/obj/rider.project.model.nuget.info
/obj/rider.project.restore.info
